@tailwind base;
@tailwind components;
@tailwind utilities;


 
::-webkit-scrollbar {
    width: 9px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #000000; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners of the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #5f5e5e; /* Color of the scrollbar track */
  }